:root {
  --blue2: #041ec5;
  --blue0: #8d9cfb;
  --blue: #2a2185;
  --blue1: #efeef9;
  --white: #fff;
  --gray: #f5f5f5;
  --black0: #222;
  --black1: #e4e4e4;
  --ungu: #cccaca;
}

/* .user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  background-image: url('../image/an.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


nav {
  background-color: #ffff;
  box-shadow: 0 4px 8px 0 rgb(243, 243, 243);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  top: 0;
}

.nav {
  background-color: rgba(136, 0, 255, 0.933);
  box-shadow: 0 4px 8px 0 rgba(243, 243, 243, 0.203);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  top: 0;
}

.logo img {
  height: 40px;
  margin-left: 5vh;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  border: none;
  background-color: #f3f3f3;
}

.search label ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  display: flex;
  align-items: center;
}

/* user img ini cuma iseng nanti hapus ajah
 */
.user img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

i {
  font-size: 20px;
}


.notification {
  position: relative;
  margin-right: 10px;
}

/* Notif Badge */
.notification .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  size: 10%;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

/* Notif Badge */

/* Box notif */
.notifi-box h5 {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notifi-box h2 span {
  color: #f00;
}

.notifi-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.notifi-item:hover {
  background-color: #eee;
}

.notifi-item img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;

}

.notifi-item .text h4 {
  color: #777;
  font-size: 16px;
  margin-top: 10px;
}

.notifi-item .text p {
  color: #aaa;
  font-size: 12px;
}

/* Box notif */
.sidebar {
  background-color: #ffff;
  padding-left: 20px;
  margin-top: 5px;
  position: sticky;
  top: 5rem;
}

.sidebar-kanan {
  background-color: #ffff;
  margin-top: 5px;
  position: sticky;
  top: 5rem;
}

.title {
  margin-top: 0;
  text-align: center;
}

.menu-list {
  list-style-type: none;
  padding: 20px;
  margin: 10px 0;
}

.menu-list div {
  margin-bottom: 10px;
  padding: 5px;
}

.menu-list a {
  text-decoration: none;
  color: #333;
}

.menu-item i {
  margin-right: 10px;
}

.menu-list div:hover {
  background-color: rgb(184, 193, 239);
  box-shadow: -10px 0px 0px 0px rgb(61, 90, 241);
}


.cardBox .card1 {
  position: relative;
  background-color: var(--white);
  margin: 30px;
  padding: 30px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 1px 9px rgb(0, 0, 0.08);


}

.userBox {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.userBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBox .card1 .cardName {
  text-align: center;
  font-size: 0.7rem;
  margin-top: 5px;
}

.cardBox .card1 .iconBox {
  font-size: 1.3rem;
  position: relative;
  top: 100%;
  right: 50px;
  display: flex;
}

/* isi card  */
.pertanyaan {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #000;
}

.pertanyaan1 h3 {
  margin-bottom: 20px;
}

.jumlah {
  font-size: 12px;
}

.profile img {
  size: 10%;
  border-radius: 50%;
  object-fit: cover;
}

/* tambah_komentar */
.editor-toolbar {
  background-color: #f2f2f2;
  padding: 5px;
}

.editor-content {
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* exployer card */
.explore-content .row {
  display: flex;
  top: 20px;

}

/* Kategori */

/* .container .row {
  display: flex;
  float: right;
  flex-wrap: nowrap;
  justify-content: flex-start;
} */

.category-card {
  /* border-radius: 10%; */
  padding: 0;
  width: 100px;
  position: relative;
  margin: 20px;
  overflow: hidden;
}

.category-card img {
  width: 100px;
  height: auto;
}

.category-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.category-name {
  color: #fff;
  font-size: 14px;
}

/* Kategori */

@media (max-width: 600px) {
  .menu-text {
    display: none;
  }
}

/* my answer */
.cardMY {
  position: relative;
  width: 80%;
  padding: 50px;
  top: 0;
  display: -ms-inline-grid;
  /* grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px; */
}

.cardMY .card1 {
  position: relative;
  background-color: var(--ungu);
  margin: 30px;
  padding: 30px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 1px 9px rgb(0, 0, 0.08);
}

.cardMY .card1 .cardName1 {
  text-align: center;
  font-size: 0.7rem;
  margin-top: 5px;
  font-family: "Poppins";
  color: var(--blue2);
}

.cardMY .card1 .iconBox1 {
  font-size: 1.3rem;
  position: relative;
  top: 100%;
  right: 50px;
  display: flex;
}

.pertanyaan1 {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #000;
}

/* mytopics
.list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item:hover {
    background-color: #f0f0f0;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */

/* profil */
.container3 {
  width: 100%;
  height: 680px;
  background-image: url('../image/bckg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card5 {
  width: 90%;
  max-width: 440px;
  color: var(--black1);
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(132, 156, 147, 0.121);
  background: rgba(132, 156, 147, 0.323);
  border-radius: 16px;
  box-shadow: 0.4px 30px rgba(132, 156, 147, 0.121);
  backdrop-filter: blur;
}

.card5 img {
  height: 110px;
  width: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* img card */
.profile-pic-div {
  height: 110px;
  width: 120px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}

#photo {
  height: 100%;
  width: 100%;
}

#file {
  display: none;
}

#uploadBtn {
  height: 24px;
  width: 120px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: var(--black1);
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: none;
}

.card h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
}

.card .bio {
  font-size: 18px;
  margin: 10px auto;
  max-width: 330px;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.blink-text {
  color: var(--black1);
  display: inline-block;
  animation: zoomIn 1s;
}

.ikon-profil {
  color: #f3f3f5;
  margin-right: 15px;
  text-decoration: none;
}

.ikon-profil:hover {
  color: #f3f3f57a;
}

.ikon-profil i {
  font-size: 24px;
}

/* .button {
  width: 80px;
  box-shadow: rgba(132, 156, 147, 0.121);
  font-style: italic;
  font-family: monospace;
  background-color: var(--black1);
} */

/* .btn:hover {
  background-color: rgba(132, 156, 147, 0.371);
  color: var(--black1);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
} */


/* Modal Madul */

.modal.fade .modal-dialog {
  transition: transform .10s ease-out;
  transform: translate(0, -50px);
  -webkit-transition: transform .10s ease-out;
  -moz-transition: transform .10s ease-out;
  -ms-transition: transform .10s ease-out;
  -o-transition: transform .10s ease-out;
}

.modal.show .modal-dialog {
  transform: translate(0, 0);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  animation-name: modalopen;
  animation-duration: 0.5s;
}

.modal.fade .modal-content {
  transition: transform .3s ease-out;
  transform: translate(0, -50px);
}

.modal.show .modal-content {
  transform: translate(0, 0);
}

/* Animasi untuk membuka modal */
@keyframes modalopen {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}